<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meus Pokemons</title>
    <link rel="stylesheet" href="../assets/styles/index.css" />
  </head>

  <body>
    <header>
      <h1 class="titulo">PokeAPI</h1>
      <div>
        <img
          src="https://avatars.githubusercontent.com/u/67351346?s=460&u=d4c89cfa29bf1bf999cb624bcde60955c5ea331a&v=4"
          alt="foto de perfil"
        />
        <span>Minha conta</span>
      </div>
    </header>
    <main>
      <div id="pesquisa">
        <input type="text" placeholder="Digite seu Pokemon aqui" />
      </div>
      <div class="lista">
        <div class="pokemon">
          <strong>#1 Pineco</strong>
          <img
			src="../assets/img/pineco.bmp"
			alt="pokemon pineco"
			width="200px"
			/>
        </div>
        <div class="pokemon">
          <strong>#2 Pikachu</strong>
          <img
			src="../assets/img/pikachu.bmp"
			alt="pokemon pikachu"
			width="200px" 
			/>
        </div>
      </div>
    </main>
    <footer>
      <span>Desenvolvido por Gabriel Castanheira</span>
    </footer>
  </body>
</html>
