<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meus Pokemons</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
  </head>

  <body>
    <header>
      <span><h1 class="titulo">PokeAPI</h1></span>
      <div>
        <img
          src="https://avatars.githubusercontent.com/u/67351346?s=460&u=d4c89cfa29bf1bf999cb624bcde60955c5ea331a&v=4"
          alt="foto de perfil"
        />
        <span>Minha conta</span>
      </div>
    </header>
    <main>
      <div>
        <input type="text" placeholder="Digite seu Pokemon aqui" />
      </div>
      <ul type="none">
        <li>
          <div>
            <strong>#1 Pineco</strong>
            <img src="../assets/img/pineco.bmp" alt="" />
          </div>
        </li>
        <li>
          <div>
            <strong>#1 Pikachu</strong>
            <img src="../assets/img/pikachu.bmp" alt="" />
          </div>
        </li>
      </ul>
    </main>
    <footer>
        <span>Desenvolvido por Gabriel Castanheira</span>
    </footer>
  </body>

  <footer></footer>
</html>
